.payment-container {
  --adyen-sdk-color-label-primary: #222222;
  --adyen-sdk-border-radius-m: 0;
  --adyen-sdk-color-outline-primary: #666666;
  --adyen-sdk-text-body-font-weight: 600;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

/* Additional custom styles for our "required" label. */
.adyen-checkout__label {
  display: flex;
  gap: 1rem;
}

.adyen-checkout__label__text {
  &.required {
    color: #666;
    font-size: 10px;
  }
}

/* Hide the "All fields are required..." message. */
.adyen-checkout-form-instruction {
  display: none;
}

/* CBCC card logo below the input field. */
.adyen-checkout__card__brands__brand-wrapper.cbcc {
  border-radius:0;

  img {
    height: 100%;
  }
}

/* CBCC card logo inside the input field. */
.adyen-checkout-card-input__icon.adyen-checkout__card__cardNumber__brandIcon.cbcc {
  border-radius: 0;
}

/* Misc. styles. */
.payment-container--cb {
  background-color: transparent;
  padding: 0;
  border: 0;

  .payment {
    padding: 0;
  }
}